
  <app-navbar></app-navbar>


  <div class="row">
    <div class="left px-2" style="background-color:white; ">
      <h2>Search Location</h2>
      <input type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category">
      <ul id="myMenu">
        <li><a (click)="showRooms('nairobi')">Nairobi</a></li>
        <li><a (click)="showRooms('nairobi')">Kisumu</a></li>
        <li><a (click)="showRooms('nairobi')">Mombasa</a></li>
        <li><a (click)="showRooms('nairobi')">Lamu</a></li>
        <li><a (click)="showRooms('nakuru')">Nakuru</a></li>
        <li><a (click)="showRooms('naivasha')">Naivasha</a></li>
        <li><a (click)="showRooms('malindi')">Malindi</a></li>
        <li><a (click)="showRooms('kilifi')">Kilifi</a></li>
        <li><a (click)="showRooms('watamu')">Watumu</a></li>
        <li><a (click)="showRooms('diani')">Diani</a></li>
      </ul>
    </div>

    <div class="right" style="background-color:white;">
      <h1 class="d-flex justify-content-center text-black mt-3">Welcome to Our Cheap Hotel</h1>

      <div class="container-xxl py-5">
        <div class="container">
          <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title text-center text-primary text-uppercase">Our Rooms</h6>
            <h1 class="mb-5">Explore Our <span class="text-primary text-uppercase">Rooms</span></h1>
          </div>
          <div class="row g-4" >
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let room of rooms">
              <div class="room-item shadow rounded overflow-hidden">
                <div class="position-relative">
                  <img class="img-fluid" style="height: 180px;" src="{{room.hotelImagesDto[0].imageUrl}}" alt="">
                  <div
                    class="price position-absolute start-0 top-100 translate-middle-y bg-primary text-white rounded py-1 px-3 ms-4">
                    shs{{room.hotelDto.pricing}}/Night</div>
                </div>
                <div class="p-4 mt-2" >
                  <div class="d-flex justify-content-between mb-3">
                    <h5 class="mb-0 text-black">{{room.hotelDto.name}}/{{room.hotelDto.place}}</h5>
                    <div class="ps-2">
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                      <small class="fa fa-star text-primary"></small>
                    </div>
                  </div>
                  <div class="d-flex mb-3">
                    <small class="border-end me-3 pe-3"><i class="fa fa-bed text-primary me-2"></i>{{room.hotelDto.no_of_beds}}
                      Bed</small>
                    <small class="border-end me-3 pe-3"><i class="fa fa-bath text-primary me-2"></i>{{room.hotelDto.rooms_available}}
                      Rooms</small>
                    <small><i class="fa fa-wifi text-primary me-2"></i>Wifi</small>
                  </div>
                  <p class="text-body mb-3">{{room.hotelDto.description}}</p>
                  <div class="d-flex justify-content-center">
                    <a class="btn btn-sm btn-dark rounded py-2 px-4" (click)="showHotel(room.hotelDto.id)">Book Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      </div>


    </div>
  </div>
  <app-footer></app-footer>
