.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 16px;
}

.outer1 {
    height: fit-content;
    max-height: fit-content;
    background: linear-gradient(to top, #b0b0f6 30%, #1baaf6 90%) no-repeat;
    border-radius: 20px;
    margin-top: auto;
    padding-top: auto;
    align-items: center;

}

.form-control {
    border-radius: 20px;
}

small {
    color: black;
    font-weight: 200;
    font-style: normal;
}